@tailwind base;
@tailwind components;
@tailwind utilities;


.nav-link{
    @apply  hover:bg-red-500 cursor-pointer md:p-5 p-2 my-2 md:m-2 text-white;
}

.items{
    @apply relative h-[100px]  max-w-[350px] md:w-full  flex justify-between items-center mx-1 my-1 md:my-0  border-2 rounded-md;
}

.iconBox {
  @apply flex justify-between mx-4 md:mx-1 w-[200px] md:w-[180px] px-8 py-3 my-2 cursor-pointer;
}

@layer utilities {
    .border-gradient-red-black {
      border-bottom: 2px;
      border-style: solid;
      border-image: linear-gradient(to right, red,rgb(114, 110, 110), black) 1;
      border-image-slice: 1;
    }
  }
